.approve-decline-modal {
  width:800px;
}
.approve-decline-modal h2 {
  margin-top:0px;
  margin-bottom:20px;
}
.approve, .decline {
  color: white;
  border: none;
  margin-right: 10px;
  border-radius: 3px;
  padding: 5px 18px;
  margin-top: 20px;
}
.approve {
  background: #77A546;
}
.decline {
  background: red;
}
.decline:hover {
  background: #c70000;
}
.approve:hover {
  background: #678d3f;
}
.decline:disabled, .approve:disabled {
  cursor: not-allowed;
  background: grey;
}
