.delete-role-modal h4 {
  margin-top: 0px;
  margin-bottom:20px;
}
.delete-buttons {
  text-align: center;
}
.delete-role-modal button {
  background: red;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 7px 50px;
  margin: 0px 15px;
}
.delete-role-modal button:hover {
  background: #c70000;
}
@media (max-width: 767px) {
  .delete-role-modal h4 {
    text-align: center;
  }
}
