<div class="course-detials">
  <div class="row">
    <div class="col-xs-12">
      <h1>Opleiding details</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8">
          <table class="course-details-table">
            <tr><td>Item:</td><td>{{courseRole.course.item}}</td></tr>
            <tr><td>Description:</td><td>{{courseRole.course.description}}</td></tr>
            <tr><td>Website:</td><td><a href="{{courseRole.course.website}}" target="_blank">
              {{ courseRole.course.website ? (courseRole.course.website.length <= 100 ? courseRole.course.website : (courseRole.course.website | slice:0:100) + '...') : '' }}</a>
            </td></tr>
            <tr><td>Type:</td><td>{{courseRole.course.type}}</td></tr>
            <tr><td>Cost amount:</td><td>{{courseRole.course.costAmount}}</td></tr>
            <tr><td>Course days:</td><td>{{courseRole.course.courseDays}}</td></tr>
            <tr><td>Rol:</td><td>{{courseRole.role.name}}</td></tr>
            <tr><td>Prio:</td><td>{{courseRole.prio}}</td></tr>
          </table>
    </div>
    <div class="col-xs-12 col-sm-4">
      <table class="course-completed-table">
        <tr><td>Voltooid:</td><td>{{ isCourseMatchingEmployeeCourse(employeeCourse, courseRole.course.item) ? 'Ja' : 'nee' }}</td></tr>
        <tr><td>Voltooingsdatum:</td><td>{{ getCompletionDate(employeeCourse, courseRole.course.item) || 'N/A' }}</td></tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button class="course-completion-button" [disabled]="isCourseMatchingEmployeeCourse(employeeCourse, courseRole.course.item)" (click)="courseApplication()">Cursus aanvragen</button>
    </div>
  </div>
</div>
