<div class="action-list-details-modal">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <h1>Aanvraag details</h1>

      <table class="application-details-table">
        <tr><td>Item:</td><td>{{data.course.item}}</td></tr>
        <tr><td>Website:</td><td><a href="{{data.course.website}}" (click)="$event.stopPropagation()" target="_blank">
          {{ data.course.website ? (data.course.website.length <= 80 ? data.course.website : (data.course.website | slice:0:80) + '...') : '' }}
        </a></td></tr>
        <tr><td>Start datum:</td><td>{{data.startDate}}</td></tr>
        <tr><td>Geplande eind datum:</td><td>{{data.endDate}}</td></tr>
      </table>
    </div>
    <div class="col-xs-12 col-sm-4">
      <button class="course-completion-button" [disabled]="isCourseApproved(employeeCourse, data.course.item)" (click)="courseCompletion()">Cursus voltooien</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">

      <table class="application-line-table">
        <tr>
          <th>Status</th>
          <th>Opmerking</th>
          <th>Status2</th>
          <th>Laast aangepast</th>
        </tr>
        <tr *ngFor="let applicationline of data.applicationLines; let i = index">
          <td>
            <ng-container *ngIf="applicationline.status === 'FIELDMANAGER'">
            Nieuwe aanvraag
          </ng-container>
            <ng-container *ngIf="applicationline.status === 'DIRECTOR'">
              Goedgekeurd door FM
            </ng-container>
            <ng-container *ngIf="applicationline.status === 'SECRETERIAT'">
              Goedgekeurd door Directeur
            </ng-container>
            <ng-container *ngIf="applicationline.status === 'APPROVED'">
              Goedgekeurd door Secreteriaat
            </ng-container>
            <ng-container *ngIf="applicationline.status === 'DECLINED'">
              Aanvraag afgekeurd!
            </ng-container>
            <ng-container *ngIf="applicationline.status === 'COMPLETED'">
              Cursus voltooid
            </ng-container>
          </td>
          <td>{{applicationline.comment}}</td>
          <td>
            <ng-container *ngIf="applicationline.status === 'FIELDMANAGER'">
              Ter beoordeling bij FM
            </ng-container>
            <ng-container *ngIf="applicationline.status === 'DIRECTOR'">
              Ter beoordeling bij Directeur
            </ng-container>
            <ng-container *ngIf="applicationline.status === 'SECRETERIAT'">
              In afwachting van Secreteriaat
            </ng-container>
            <ng-container *ngIf="applicationline.status === 'APPROVED'">
              Cursus mag gevolgd worden
            </ng-container>
            <ng-container *ngIf="applicationline.status === 'DECLINED'">
              Aanvraag afgekeurd!
            </ng-container>
            <ng-container *ngIf="applicationline.status === 'COMPLETED'">
              Cursus voltooid
            </ng-container>
          </td>
          <td>{{applicationline.lastModification}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
