<div class="course-overview">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h1>Opleidings Matrix</h1>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="role-filter">
          <select id="roleSelect" [(ngModel)]="selectedRole" (change)="filterCourses()">
            <option *ngFor="let role of filteredRoles" [value]="role">{{ role }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="line"></div>
        <div class="courses">
          <table>
            <tr>
              <th *ngIf="selectedRole === 'Alle rollen'">Rol</th>
              <th>Item</th>
              <th>Website</th>
              <th>Type</th>
              <th>Prio</th>
              <th>Kosten</th>
            </tr>
            <tr class="tr-course-data" *ngFor="let filteredCourse of filteredCourses; let i = index" (click)="courseDetails(filteredCourse)">
              <td *ngIf="selectedRole === 'Alle rollen'">{{ filteredCourse.role.name }}</td>
              <td>{{ filteredCourse.course.item ? (filteredCourse.course.item.length <= 60 ? filteredCourse.course.item : (filteredCourse.course.item | slice:0:60) + '...') : '' }}</td>
              <td><a href="{{filteredCourse.course.website}}" (click)="$event.stopPropagation()" target="_blank">
                {{ filteredCourse.course.website ? (filteredCourse.course.website.length <= 20 ? filteredCourse.course.website : (filteredCourse.course.website | slice:0:20) + '...') : '' }}</a>
              </td>
              <td>{{ filteredCourse.course.type }}</td>
              <td>{{filteredCourse.prio}}</td>
              <td>€ {{ filteredCourse.course.costAmount }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
