i.fa.fa-filter {
  font-size: 40px;
  float: right;
  margin-top: 20px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td {
  word-break: break-all;
}

table .clickableTH {
  cursor: pointer;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:first-child {
  background-color: #dddddd;
}
.line {
  border-top: 1px solid;
  margin-bottom: 30px;
  margin-top:10px;
}

.courses {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

tr.tr-course-data {
  cursor: pointer;
}

tr.tr-course-data:hover {
  background: #d9d9d9;
}

.role-filter {
  text-align: right;
  margin-top: 23px;
}

select {
  padding: 7px 5px;
}
@media (max-width: 767px) {
  .course-overview h1 {
    text-align: center;
  }
  i.fa.fa-filter {
    float: none;
    text-align: center;
    display: block;
  }

  th {
    display: none;
  }

  tr {
    display: block;
    margin-bottom: 30px;
    border:1px solid #000;
    border-radius: 10px;
  }

  td {
    display: block;
    text-align: center;
    border-radius: 10px;
  }

  .role-filter {
    text-align: center;
  }
}
