<div class="course-overview">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <h1>Opleidings Matrix</h1>
      </div>
      <div class="col-xs-12 col-sm-4">
        <input class="form-control search-text" type="text" [(ngModel)]="searchText" (keyup)="filterCourses()" placeholder="Zoek cursus...">
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="role-filter">
          <select id="roleSelect" [(ngModel)]="selectedRole" (change)="filterCourses()">
            <option *ngFor="let role of filteredRoles" [value]="role">{{ role }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="line"></div>
        <div class="courses">
          <table>
            <tr>
              <th *ngIf="selectedRole === 'Alle rollen'">Rol</th>
              <th class="clickableTH" (click)="sortByColumn('course.item')">Item</th>
              <th>Website</th>
              <th class="clickableTH" (click)="sortByColumn('course.type')">Type</th>
              <th class="clickableTH" (click)="filterCourses()">Prio</th>
              <th>Kosten</th>
            </tr>
            <tr class="tr-course-data" *ngFor="let filteredCourse of filteredCourses; let i = index" (click)="courseDetails(filteredCourse)">
              <td *ngIf="selectedRole === 'Alle rollen'">{{ filteredCourse.role.name }}</td>
              <td class="item-cell{{ selectedRole === 'Alle rollen' ? ' alle-rollen' : '' }}">{{ filteredCourse.course.item ? (filteredCourse.course.item.length <= 50 ? filteredCourse.course.item : (filteredCourse.course.item | slice:0:50) + '...') : '' }}</td>
              <td><a href="{{filteredCourse.course.website}}" (click)="$event.stopPropagation()" target="_blank">
                {{ filteredCourse.course.website ? (filteredCourse.course.website.length <= 20 ? filteredCourse.course.website : (filteredCourse.course.website | slice:0:20) + '...') : '' }}</a>
              </td>
              <td>{{ filteredCourse.course.type ? (filteredCourse.course.type.length <= 40 ? filteredCourse.course.type : (filteredCourse.course.type | slice:0:40) + '...') : '' }}</td>
              <td>{{filteredCourse.prio}}</td>
              <td>€ {{ filteredCourse.course.costAmount }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
