<div class="course-overview">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h1>Cursus beheer</h1>
      </div>
      <div class="col-xs-12 col-sm-6">
        <button (click)="addCourse()" class="add-course">Cursus toevoegen</button>
        <button routerLink="/roles" class="roles-management-button">Rol beheer</button>
        <button routerLink="/report" class="roles-management-button">Rapportage</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="line"></div>
        <div class="courses">
          <table>
            <tr>
              <th>Item</th>
              <th>Website</th>
              <th>Type</th>
              <th>Kosten</th>
              <th>Acties</th>
            </tr>
            <tr class="tr-course-data" *ngFor="let course of courses; let i = index">
              <td>{{ course.item ? (course.item.length <= 55 ? course.item : (course.item | slice:0:55) + '...') : '' }}</td>
              <td><a href="{{course.website}}" (click)="$event.stopPropagation()" target="_blank">
                {{ course.website ? (course.website.length <= 20 ? course.website : (course.website | slice:0:20) + '...') : '' }}</a>
              </td>
              <td>{{ course.type }}</td>
              <td>€ {{ course.costAmount }}</td>
              <td>
                <i (click)="courseLink(course)" class="fa fa-link" aria-hidden="true"></i>
                <i (click)="editCourse(course)" class="fa fa-pencil-square-o" aria-hidden="true"></i>
                <i (click)="DeleteCourse(course)" class="fa fa-trash-o" aria-hidden="true"></i>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
