<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Pdp</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="line"></div>
      <table>
        <tr>
          <td><h2>Mijn pdp</h2></td>
          <td><i (click)="editPdp(loggedInUser)" class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
        </tr>
        <tr>
          <td>Achtergrond:</td>
          <td>{{loggedInUser.pdp.background}}</td>
        </tr>
        <tr>
          <td>Heden:</td>
          <td>{{loggedInUser.pdp.present}}</td>
        </tr>
        <tr>
          <td>Toekomst:</td>
          <td>{{loggedInUser.pdp.future}}</td>
        </tr>
      </table>
      <div class="line2"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2 class="action-list-header-text">Actie lijst:</h2>
      <div class="action-list">
        <table>
          <tr>
            <th>Item</th>
            <th>Website</th>
            <th>Status</th>
            <th>Datum indiening</th>
          </tr>
          <tr *ngFor="let application of applications; let i = index" (click)="applicationUserDetails(application)"
              [ngClass]="{'green-row': application.applicationLines[application.applicationLines.length - 1].status === 'APPROVED',
                          'red-row': application.applicationLines[application.applicationLines.length - 1].status === 'DECLINED'}">
            <td>{{application.course.item}}</td>
            <td>
              <a href="{{application.course.website}}" (click)="$event.stopPropagation()" target="_blank">
              {{ application.course.website ? (application.course.website.length <= 40 ? application.course.website : (application.course.website | slice:0:40) + '...') : '' }}
              </a>
            </td>
            <td>
              <ng-container *ngIf="application.applicationLines[application.applicationLines.length - 1].status === 'FIELDMANAGER'">
                Ter beoordeling bij FM
              </ng-container>
              <ng-container *ngIf="application.applicationLines[application.applicationLines.length - 1].status === 'DIRECTOR'">
                Ter beoordeling bij Directeur
              </ng-container>
              <ng-container *ngIf="application.applicationLines[application.applicationLines.length - 1].status === 'SECRETERIAT'">
                Ter beoordeling bij Secreteriaat
              </ng-container>
              <ng-container *ngIf="application.applicationLines[application.applicationLines.length - 1].status === 'APPROVED'">
                Aanvraag goedgekeurd!
              </ng-container>
              <ng-container *ngIf="application.applicationLines[application.applicationLines.length - 1].status === 'DECLINED'">
                Aanvraag afgekeurd!
              </ng-container>
            </td>
            <td>{{application.submissionDate}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
