<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-9">
      <h1>Pdp - <span>{{loggedInUser.name}}</span></h1>
    </div>

    <div class="col-xs-12 col-sm-3">
      <button class="generate-pdf-button" (click)="constructPDF()">Genereer PDF</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="line"></div>
      <table class="pdp-table">
        <tr>
          <td><h2>Mijn pdp</h2></td>
          <td>
            <button [class.active]="showBackground" (click)="toggleVisibility('background')">Achtergrond</button>
            <button [class.active]="showPresent" (click)="toggleVisibility('present')">Heden</button>
            <button [class.active]="showFuture" (click)="toggleVisibility('future')">Toekomst</button>
            <button [class.active]="showFutureRoles" (click)="toggleVisibility('futureRoles')">Toekomstige rollen</button>
            <i (click)="editPdp(loggedInUser)" class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </td>
        </tr>
        <tr *ngIf="showBackground">
          <td>Achtergrond:</td>
          <td>{{ loggedInUser.pdp.background }}</td>
        </tr>
        <tr *ngIf="showPresent">
          <td>Heden:</td>
          <td>{{ loggedInUser.pdp.present }}</td>
        </tr>
        <tr *ngIf="showFuture">
          <td>Toekomst:</td>
          <td>{{ loggedInUser.pdp.future }}</td>
        </tr>
        <tr *ngIf="showFutureRoles">
          <td>Toekomstige rollen:</td>
          <td>
            <table class="future-roles-table">
              <tr *ngFor="let futureRole of loggedInUser.pdp.futureRole">
                <td>{{futureRole.name}}</td>
                <td>{{futureRole.achievementDate}}</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <div class="line2"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-9">
      <h2 class="action-list-header-text">Actie lijst:</h2>
    </div>
    <div class="col-xs-12 col-sm-3">
      <select class="form-control" [(ngModel)]="selectedOption">
        <option value="all">Toon alles</option>
        <option value="actual">Actuele acties</option>
        <option value="finished">Afgeronde acties</option>
        <option value="declined">Afgekeurde acties</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="action-list">
        <table>
          <tr>
            <th>Item</th>
            <th>Website</th>
            <th>Status</th>
            <th>Datum indiening</th>
          </tr>
          <tr *ngFor="let application of filterApplications(); let i = index" (click)="applicationUserDetails(application)"
              [ngClass]="{'red-row': application.applicationLines[application.applicationLines.length - 1].status === 'DECLINED'}">
            <td>{{application.course.item}}</td>
            <td>
              <a href="{{application.course.website}}" (click)="$event.stopPropagation()" target="_blank">
              {{ application.course.website ? (application.course.website.length <= 40 ? application.course.website : (application.course.website | slice:0:40) + '...') : '' }}
              </a>
            </td>
            <td>
              <ng-container *ngIf="application.applicationLines[application.applicationLines.length - 1].status === 'FIELDMANAGER'">
                Ter beoordeling bij FM
              </ng-container>
              <ng-container *ngIf="application.applicationLines[application.applicationLines.length - 1].status === 'DIRECTOR'">
                Ter beoordeling bij Directeur
              </ng-container>
              <ng-container *ngIf="application.applicationLines[application.applicationLines.length - 1].status === 'SECRETERIAT'">
                In afwachting van Secreteriaat
              </ng-container>
              <ng-container *ngIf="application.applicationLines[application.applicationLines.length - 1].status === 'APPROVED'">
                Aanvraag goedgekeurd!
              </ng-container>
              <ng-container *ngIf="application.applicationLines[application.applicationLines.length - 1].status === 'DECLINED'">
                Aanvraag afgekeurd!
              </ng-container>
              <ng-container *ngIf="application.applicationLines[application.applicationLines.length - 1].status === 'COMPLETED'">
                Cursus voltooid
              </ng-container>
            </td>
            <td>{{application.submissionDate}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
