.line {
  border-top: 1px solid;
  margin-bottom: 30px;
  margin-top:10px;
}

.line2 {
  border-top: 1px solid;
  margin-bottom:30px;
}
td {
  vertical-align: top;
  padding-right:30px;
  padding-bottom:30px;
}
.pdp-table td:first-child{
  width:150px;
  cursor: pointer;
}

.action-list tr{
  cursor: pointer;
}

.action-list tr:hover {
  background: #d9d9d9;
}

h2 {
  margin:0;
}
h2.action-list-header-text {
  margin-bottom: 15px;
}
i.fa.fa-pencil-square-o {
  font-size: 34px;
  margin-top: 2px;
  transition: 0.1s;
  cursor: pointer;
}
i.fa.fa-pencil-square-o:hover {
  transform: scale(1.3);
  transition: 0.1s;
}
.action-list table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.action-list td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.action-list tr:first-child {
  background-color: #dddddd;
}
.action-list {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.red-row {
  background-color: #ffc1c1;
}
table.future-roles-table td {
  padding-bottom: 5px;
}
