mat-form-field {
  display: block;
  margin-top: 15px;
  width:200px;
}
h3 {
  margin-top:0px;
}
.employee-course-button {
  background: #77A546;
  color: white;
  border: none;
  margin-right: 10px;
  border-radius: 3px;
  padding: 5px 18px;
}
.employee-course-button:disabled {
  cursor: not-allowed;
  background: grey;
}

.employee-course-button:enabled:hover {
  background: #678d3f;
}
